[submodule "coordinator/ext/inotify-cpp"]
	path = coordinator/ext/inotify-cpp
	url = https://github.com/erikzenker/inotify-cpp.git
[submodule "coordinator/ext/json11"]
	path = coordinator/ext/json11
	url = https://github.com/dropbox/json11.git
